.contactPage {
    background: rgb(215, 192, 156);
    padding: 5% 30% 5% 30%;
    background: #242424;
    color: white;
}

.contactForm {
    background: #242424;
    padding: 2rem;
    border-radius: 3%;
}

.sendButton {
    border-radius: 10%;
    padding: 0.5rem;
    width: 5rem;
}

.sendButton:hover {
    border-radius: 10%;
    padding: 0.5rem;
    width: 5rem;
    background: #ececec;
    color: #242424;
}
