.navbar {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-right: 6rem;
    justify-content: right;
    background: rgb(215, 192, 156);
    list-style: none;
    border-width: 1rem;
    font-size: 1rem;
    position: fixed;
    width: 100%;
}

.navlinks {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-top: 1.4rem;
}

[data-theme = 'dark'] {
    background: #363636;
  }

a {
    color: #242424;
    text-decoration: none;
}

[data-theme = 'dark'] a {
    text-decoration: none;
    color: #ececec;
}

.downloadCV:hover {
    color: #242424;
}

[data-theme = 'dark'] .downloadCV {
    color: #242424;
}

[data-theme = 'dark'] .downloadCV:hover {
    color: #ececec;
}

.gtIcon {
    color: #ececec;
    font-size: 1.5rem;
}

.gtIcon:hover {
    color: #242424;
}

.rightButton {
    padding-top: 0.7rem;
    width: 8rem;
    height: 2rem;
}

.leftButton {
    padding-top: 1rem;
}

.cvButton {
    width: 150%;
    height: 2rem;
}

[data-theme = 'dark'] .cvButton {
    background: #ececec;
}

[data-theme = 'dark'] .cvButton:hover {
    background: #242424;
}

.cvButton:hover {
    background: #ececec
}
.githubButton {
    background: #242424;
}

.githubButton:hover {
    background: #ececec;
}

.links {
    margin-top: 2rem;
    text-decoration: none;
    gap: 1rem;
}
